h1 {
    color:darkred;
}
img{
    width:400px;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: dodgerblue;
    padding: 50px;
    border: 15px solid orange;
 }
 #spanId{
    font-size: 18px;
    margin: 50px;
}